name: PR Title Validation
on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  validate-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR Title
        uses: dwango-nfc/dw-nfc-github-actions/validate-pr-title@main
        with:
          pr-title: ${{ github.event.pull_request.title }}
          allowed-prefixes: "DX-,MFI-"
